@page
@model Project.Pages.Inventory.DeleteStock
@{
}
<h1>:: Delete Stock Page ::</h1>

<h2 class="text-danger">Are you sure want to delete the record?</h2>

<div class="table-active">

    <div>
        <label asp-for="Items.ProductName"></label>
        <span> : </span>
        @Model.Items.ProductName <!--razor code where you access the model from cshtml.cs file-->
    </div>
    <br />
    <div>
        <form method="post">
            <input type="hidden" asp-for="Items.ProductName" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>