@page
@model Project.Pages.AdminPages.OrderAmmending.UpdateOrder
@{
}

<h1>:: Update Stock Page</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Orders.OrderID" />
            <div class="form-group">
                <label asp-for="Orders.Username" class="control-label"></label>
                <input type="text" asp-for="Orders.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Orders.Date" class="control-label"></label>
                <input type="text" asp-for="Orders.Date" class="form-control" />
            </div
            <div>
                <input type="submit" value="Commit" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

